<template>
  <div>
    <h2><%= tableName %> List</h2>
    <el-table :data="tableData || []" style="width: 100%">
      <% fields.forEach(field => { %>
        <el-table-column
          prop="<%= field.name %>"
          label="<%= field.comment %>"
          min-width="120"
        />
      <% }) %>
    </el-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [] // You will fetch or pass actual data here later
    };
  }
}
</script>
